/*Pagina Inicial*/


body{

	background-color: white


}


.menu{
	margin-left: -10px;
	width: 1270px;

	background-color: #00BFFF


}

.dev a{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 27px;
	margin-top: -31px;
	float: right;
}



.menu a{

	padding: 15px;
	font-size: 25px;

	text-decoration: none;
	color: black;

}


#logo1{
	text-align: center;

	font-size: 25px;

}

.img3 img{

	width: 420px;

	margin-right: -100px;
}


.img img{
	margin-left: -10px;
	
	
	width: 429px;

	float: left;
}


.rede li{

	list-style-type: none;

}

.rede{
	margin-top: -70px;
	display: flex;

	
}


.rede img{
	width: 38px;

	padding: 20px;
}


.menu ul li{

	display: inline-block;

}

#contato{
	clear: both;
	background-color: #B0E0E6;
}

#contato1{
	position: absolute;

	margin-top: 100px;
}

#contato1 p{
	clear: both;

	padding: 8px;

	font-size: 20px;
}

iframe{
	background-color: #B0E0E6;
	margin-top: 120px;

	margin-left: 500px;
}


@media (max-width: 990px){

	


	#logo1{
		
		text-align: start;
		margin-left: 100px;
		font-size: 50px;
	}


	.rede img{
		clear: both;
		right: 100px;
		padding: 25px;
		margin-bottom: -730px;
		width: 90px;
	}

	.dev a{
		clear: both;
		font-size: 46px;
		margin-right: -660px;

		margin-top: -130px;
	}

	.menu{
		
		margin-top: 50px;
		width: 1650px;
	}

	.menu a{
		font-size: 65px;
	}

	.img img{
		width: 550px;
		display: inline-block;
	}
	.img2{
		margin-left: 550px;
	}

	.img3{
		margin-left: 1100px;
	}

	.img3 img{

		max-width: 550px;
	}


	#contato1{
		font-size: 70px;
		bottom: -120px;
		width: 1650px;
		background-color: #B0E0E6;
	}

	#contato1 p{

		font-size: 60px;
	}

	iframe{
		height: 700px;
		margin-left: 0px;
		padding: 200px;
		position: absolute;
		width: 1300px;
		margin-top: 1150px;
	}
}