/*Pagina Inicial*/


body{

	background-color: white

}


.menu{
	width: 1270px;
	margin-left: -6px;
	background-color: #00BFFF


}


.menu a{

	text-decoration: none;
	color: black

}

.dev a{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 27px;
	margin-top: -31px;
	float: right;
}


.menu a{
	padding: 15px;
	

	font-size: 25px;

}


#logo1{
	text-align: center;

	font-size: 25px;

}


.img img{
	margin-left: -6px;
	float: left;

	width: 425px;
}

.img3 img{
	margin-right: -100px;
	margin-top: -0px;
}

.rede li{

	list-style-type: none;

}

.rede{
	margin-top: -100px;
	position: absolute;
	float: right;
	display: flex;

}


.rede img{
	width: 38px;

	padding: 20px;
}


.menu ul li{

	display: inline-block;

}

#lista1 {

	margin-left: 90px;
	float: left;
	margin-top: 80px;
}



#lista{

	font-size: 30px
}

#lista2{
	margin-top: 80px;
	position: absolute;
	
	font-size: 30px;
margin-left: 480px;

}


#lista3{
	margin-right: 100px;
	font-size: 30px;
	float: right;
	margin-top: 80px;

}

.cursos{
	clear: both;
	margin-top: 200px;
}

input{
	margin-top: 20px;
	background-color: red;
	font-size: 35px;

	margin-left: 470px;
}

@media (max-width: 990px){

	#logo1{
		margin-left: -120px;

		font-size: 40px;
	}


	.rede img{
		right: 100px;

		padding: 25px;

		
		margin-bottom: -570px;

		width: 65px;
	}

	.dev a{
		font-size: 35px;
		margin-right: -290px;

		margin-top: -100px;
	}

	.menu a{
		font-size: 50px;
	}


	.dev a{
		font-size: 35px;
		margin-right: -290px;

		margin-top: -100px;
	}


	.img{

		margin-left: -10px;
		display: flex;
	}

	.img1{
		margin-left: 10px;
	}

	.img1 .img2{
		margin-left: -100px;
		width: 200px;
	}

	.img3{
		margin-right: -100px;
		max-width: 200px;
		width: 0px auto;
		margin-left: 0px;
		
	}

	#lista{

		float: right;
	}

	#lista1{
		margin-left: 300px;

		font-size: 80px;
	}

	#lista2{
		margin-left: 300px;
		font-size: 80px;

		margin-top: 1200px;
	}

	#lista3{
		margin-left: 300px;
		font-size: 80px;

		margin-top: 890px;
	}

	.botton input{
		height: 200px;
		margin-left: 300px;

		font-size: 70px;
	}

	
}
