/*Pagina Inicial*/


body{

	background-color: white
}


.menu{
	margin-left: -10px;
	width: 1270px;
	background-color: #00BFFF
}

.menu a:hover{
	color: black;
	text-decoration: none;
}


.menu a{
	padding: 15px;
	font-size: 25px;
	text-decoration: none;
	color: black;
}

.dev a:hover{
	color: red;
	text-decoration: none;
}

.dev a{
	color: red;
	font-weight: bold;
	text-decoration: none;
	font-size: 27px;
	margin-top: -30px;
	float: right;
}

#logo1{
	margin-left: 200px;
	text-align: center;
	font-size: 25px;

}

.img1 img{
	float: left;	
	margin-left: -90px;
	max-height: 400px;
	width:445px;

}


.img img{ 
	margin-left: -10px;
	margin-top: 0px;
	width: 428px;
}

.img3 img{
	position: absolute;
	margin-top: -289px;
	margin-left: 835px;
}

.img2 img{

	max-height: 300px !important; 
}



.projeto1{

	margin-top: 100px;
	font-size: 30px		
}

.projeto2 p{
	font-size: 20px;
	float: right;
	font-family: Arial
	margin-bottom: -50px
}



#lng strong{

	float: left;
	font-size: 30px
}

#lista1 {
	margin-left: -300px;
	float: left;
	margin-top: 80px;
}



#lista{

	font-size: 30px
}

#lista2{
	font-size: 30px;
	margin-top: 200px;
margin-left: 500px;

}


#lista3{
	margin-right: 50px;
	font-size: 30px;

	float: right;
	margin-top: -400px;

}

.video{
	
	margin-left: -20px;
}



.video1 iframe{

	clear: both;
	margin-top: 50px;
	margin-left: 50px;
	
}



.video2 iframe{
	float: right;
	margin-top: -535px;
	margin-right: 10px;

	

	
}


#curso0{
	background-color: black;
	padding: 40px;

	display: flex;
}



#curso0 iframe{
	padding: 15px;
	background-color: black;

	margin-left: auto;
}

.curso{
	clear: both;
	font-size: 40px;

	margin-top: 140px;
}



#curso1 iframe{
	margin-top: 100px;
	width: 350px;

	max-height: 400px;
}


#curso2 iframe{
	max-height: 400px;
	margin-top: 100px;

	width: 350px;

}


#curso3 iframe{
	margin-top: 100px;
	max-height: 400px;

	width: 350px;
}

.rede li{

	list-style-type: none;

}

.rede{

	clear: both;
	position: absolute;
	margin-top: -100px;
	display: flex;
	

}


.rede img{
	width: 38px;
	padding: 20px;
}


.menu ul li{

	display: inline-block;

}

@media (max-width: 990px){

	#logo1{
		margin-left: -140px;

		font-size: 40px;
	}

	.rede img{
		right: 100px;
		padding: 25px;		
		margin-bottom: -570px;
		width: 65px;
	}

	.img{
		display: inline;
	}

	.img1{
		margin-left: 10px;
	}

	.img1 .img2{
		width: 200px;
	}

	.img3{
		max-width: 200px;
		width: 0px auto;
		margin-left: 0px;
		float: left;
	}



	.projeto1{
		margin-bottom: -0px;
		clear: both;
		margin-right: 100px;
		font-size: 80px;
	}

	.projeto2 p{
		clear: both;
		margin-right: -220px;
		width: 1100px;

		font-size: 60px;
	}

	.projeto{		

		margin-top: 180px;
	}

	

	#lng1 strong{
		clear: both;
		font-size: 60px;
	}

	#lista3 li, #lista2 li, #lista1 li{

		list-style-type: none;
	}
	

	#lista3 {

		margin-left: 360px;
		text-align: center;
		float: left;
		font-size: 90px;
		margin-top: -200px;
	}

	#lista2{
		text-align: center;
		margin-left: 230px;
		float: left;
		font-size: 90px;
		margin-top: -200px;
	}

	#lista1{
		
		text-align: center;
		margin-left: 250px;
		margin-top: 100px;
		float: left;
		font-size: 90px;
	}

	.video2 iframe{
		clear: both;
		margin-right: -230px;
		margin-top: 100px;
		height: 700px;
	}

	.video1 iframe{	
		clear: both;
		margin-left: 70px;
		height: 700px;
	}

	.video iframe{
		max-height: 900px;
		width: 1150px;

		
	}

	.dev a{
		font-size: 35px;
		margin-right: -290px;
		margin-top: -100px;
	}

	.menu a{
		font-size: 50px;
	}

	

	.curso p{
		margin-left: 50px;
		position: absolute;
		margin-bottom: 100px;
		font-size: 70px;
		clear: both;

	}

	#curso0 iframe{
		background: black;
	}



	#curso0 {
		;
		clear: both;

		
		background-color: black;
		display: inline;
	}

	
	#curso0 iframe{
		padding-right: 50px;
		padding: 100px;
		clear: both;
		

		background-color: black;
		height: 700px;
		max-height: 900px;
		margin-left: -40px;
		width: 1100px;
		margin-top: 200px;
		

		
	}


}







														






